<div class="col-sm-3" id="comment-item">
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
  <br><br>
  <p id="destroy-comment"><%= link_to 'Destroy comment', [comment.article, comment], method: :delete, data: { confirm: "Are you sure" }, class: 'btn btn-danger'%>
  </p>
</div>
