<div class="containter-fluid super-container-version-one">
  <div class="row" id="general-home-article-view">
    <% @articles.each do |article| %>

      <a class="col-sm-4" href="<%= article_path(article) %>" id="specific-home-article-view">
        <div>
          <h3><%= article.title.first(40) %></h3>
        </div>
      </a>

    <% end %>
  </div>
</div>

<div class="containter-fluid">
  <div class="row" id="pagination">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</div>
