<div class="containter" id="principal-container">
  <h1>Home#index</h1>
  <div class="containter-fluid">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
  <p>Find me in app/views/home/index.html.erb</p>
</div>
