// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.super-container-version-one,
.super-container-version-two {
  height: 80%;
  width: 99%;
}

.super-container-version-two {
  margin-top: 2%;
  margin-bottom: 10%;
}

#article-container,
#comment-container {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 10%;
}

#article-container {
  margin-left: 10%;
}

.article-item {
  color: white;
  min-height: 230px;
  border: white solid 10px;
  border-radius: 20px;
  padding: 2% 2% 5%;
}

.container .row .col {
  text-decoration: none;
  color: white;
}

.article-item,
.container .row .col .card {
  background-color: rgb(52, 127, 144);
  text-align: center;
}

#option-buttons {
  margin-left: 15%;
  margin-right: 10%;
  display: inline-block;
}

.pagination {
  margin-top: 10%;
  margin-bottom: 2%;
}

#form-article {
  margin: 1% 20%;
  text-align: center;
}

#option-buttons li {
  list-style: none;
}
